{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ teacher.full_name }}</h1>

  <p><strong>Email:</strong> {{ teacher.email }}</p>
  <p><strong>Language:</strong> {{ teacher.language }}</p>
  <p><strong>Subject:</strong> {{ teacher.subject.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Schedule</h4>

    {% for schedule in teacher.information_set.all %}
      <hr>
      <p class="{% if schedule.status == 'a' %}text-success{% else %}text-warning{% endif %}">
        {{ schedule.get_status_display }}
      </p>
      {% if schedule.status != 'a' %}
        <p><strong>Not availible at:</strong> {{ schedule.to_date }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}